<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aramis.panda">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".PandaListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>
