<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aramis.aramisapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--//获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--//网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//读取设备硬件信息，统计数据-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--//读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--//获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--//允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--//获取统计数据-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--//鉴权所需该权限获取进程列表-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//使用步行AR导航，配置Camera权限-->

    <!--自定义权限-->
    <permission
        android:name="ara.learn.BookProvider"
        android:protectionLevel="normal" />
    <uses-permission android:name="ara.learn.BookProvider" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".AramisAppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BaiDuMapActivity" />
        <activity android:name=".activity.CommonViewsActivity" />
        <activity
            android:name=".game.sudoku.SudokuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.g2048.G2048Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pendulum.PendulumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pendulum.ColorTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ara.learn.LearnListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.activity.IPCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.ipc.filecache.FileCacheFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.ipc.filecache.FileCacheSecondActivity"
            android:process="ara.learn.ipc.filecache.FileCacheSecondActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ara.learn.ipc.messenger.MessengerFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.ipc.IPCListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="ara.learn.ipc.messenger.MessengerService"
            android:process=":remote" />
        <activity
            android:name="ara.learn.ipc.useaidl.UseAIDLActivity"
            android:screenOrientation="portrait" />


        <service
            android:name="ara.learn.ipc.useaidl.UseAIDLService"
            android:process=":remote" />

        <provider
            android:name="ara.learn.ipc.usecontentp.BookProvider"
            android:authorities="ara.learn.ipc.usecontentp.BookProvider"
            android:permission="ara.learn.BookProvider"
            android:process=":provider" />

        <activity
            android:name="ara.learn.ipc.usecontentp.ContentPActivity"
            android:screenOrientation="portrait" />
        <!--需要权限才能启动的activity-->
        <activity
            android:name="ara.learn.ipc.usecontentp.ContentPSecondActivity"
            android:permission="ara.learn.BookProvider"
            android:process="com.uses"
            android:screenOrientation="portrait" />

        <activity
            android:name="ara.learn.ipc.usecontentp.ProviderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ara.learn.ipc.usesocket.UseSocketActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="ara.learn.ipc.usesocket.TCPServerService"
            android:process=":remote" />

        <activity
            android:name="ara.learn.ipc.binderpool.BinderPoolActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="ara.learn.ipc.binderpool.BinderPoolService"
            android:process=":remote" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j09UkXxNATyxbzdGEfMrEcdHCL7B7TR1" />

        <activity
            android:name="ara.learn.view.ViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.view.ViewListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.remoteviews.RemoteViewsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="ara.learn.remoteviews.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
            <intent-filter>
                <action android:name="ara.learn.remoteviews.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ara.learn.remoteviews.RemoteAActivity"
            android:process=":myWidget"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.remoteviews.RemoteBActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.drawable.DrawableAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationFrameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationFieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.animation.AnimationLayoutActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="ara.learn.window.WindowManagerTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ara.learn.handler.TestThreadLocalActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>